{% extends 'base.html' %} 

{% block page_title %}{{ user }}'s Profile{% endblock %} 

{% block page_heading %}{{ user|title }}'s Profile{% endblock %} 

{% block content %}
<div class="container">
<div class="row">
        
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
             <i class="fas fa-user fa-9x"></i>
             
            <form method="post" action="{% url 'update_profile' %}">
                {% csrf_token %}
                <h6 class="card-title">Name: <span class="text-muted">{{ user }} </span></h6>
                <h6  class="card-text">Email:<span class="text-muted"> {{ profile.email }}</span></h6>
                <button class="btn btn-primary">Edit</button>
            </form>
            
        <div class="row">
            <div class="col-md-12 mt-1">
            <p class="float-right"><a href="{% url 'password_reset' %}">Reset Password</a></p>
            </div>
        </div>
            
          </div>
        </div>
     </div>
    
    
    <div class="col-sm-6">
        <div class="card">
            
          <div class="card-body">
            <h6 class="card-title">My Wishlist <span class="text-muted"> </span></h6>
              <a  data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
                Add a record
              </a>
           
               <div class="collapse" id="collapse">
            <form method="post" action="{& url 'create_wish' %}">
                {% csrf_token %}
               <div class="form-group ">
                <label for="formGroupInput">Artist</label>
                <input name="artist_name" type="text" class="form-control" 
                d="formGroupInput" placeholder="Artist">
              </div>
              <div class="form-group">
                <label for="formGroupInput2">Track</label>
                <input name = "record_name" type="text" class="form-control" 
                id="formGroupInput2" placeholder="Track title">
              </div>
             <button class="btn btn-primary" type="button" 
             data-toggle="collapse" data-target="#collapse" aria-expanded="false" 
             aria-controls="collapse">Submit</button>

            </form>
            </div>
              
          <div class="card-footer">
            <small>    
             {% for record in records %}
                <form method="post" action="">
                   {% csrf_token %}
                    <ul class="list-group mb-3">
                       
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                              <div>
                                <h6 class="my-0"><a href="#">{{ record}}</a></h6>
                                <small class="text-muted">{{ record }}</small>
                              </div>
                                <span class="text-muted">{{ record }} &nbsp;x&nbsp; €</span>
                        </li>
                        
                    </ul>
                </form>
            {% endfor %}
            </small>
        </div>
  
  
  
  
  
            
          </div>
        
        </div>
    </div>
    
        
        
</div>
</div>

{% endblock %}


