{% extends 'base.html' %}

{% block page_title %}{{artist.name}}{% endblock %} 

{% block page_heading %}<i class="fas fa-caret-left ml-n2 mr-2"></i><a href="{% url 'artists' %}">Artists </a>{% endblock %} 


{% block content %}

<div class="container wrapper">
  <div class="row">
    <div class="col-sm-2">
       <h6 class="card-title float-left title-block text-nowrap text-center bd-highlight pl-3 pr-3 px-2 py-2">{{ artist.name }}</h6>
    </div>
  </div>
 
  <div class="row row-cols-1 row-cols-md-3">

    {% if not artists_records %}
      <p class="stock-msg text-center col-sm-12 col-md-8">
        Sorry! <br> We don't have anything in stock for <strong>{{artist}}</strong>.<br> 
        Add it to your Wishlist and we'll order it for you! </p>
    {% endif %}
      
    {% for record in artists_records %}
      <div class="col-sm-12 col-md-3 mb-5 my-5">
        <div class="card h-100">
          <img class="card-img-top vinyl-img mx-auto mt-n5" 
          src="{{ MEDIA_URL }}{{ record.image }}" alt="Card image cap">
          <img class="record_cover mx-auto mt-n5" src="{{ record.description }}" 
          alt="record artwork">
          <div class="card-body mx-auto border border-dark">
            <p class="card-text mt-0">{{ record.name }}</p>
            <p class="card-text">
              {% for genre in record.genres.all %}
                 <a href="{% url 'genres_records' genre.id %}"> 
                 <small> {{ genre|join:", " }}</small></a>
              {% endfor %}
            </p>
            <p class="card-text">€{{ record.price }}</p>
          </div>
          <div class="card-footer mx-auto">
            <form method="post" action="{% url 'add_to_cart' record.id %}">
              {% csrf_token %}
              <div class="input-group flex-nowrap">
                 <span>
                   <input class="form-control form-control-sm" name="quantity" 
                   type="number" min="1" max="999"  value="1">
                 </span> 
                <span class="input-group-btn">
                    <button class="btn btn-success btn-sm mx-1 my-0 rounded-0 
                    shadow-none" type="submit">
                      <small class="text-nowrap">Add to Cart</small>
                    </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  
  </div>
</div>
{% endblock %}