{% extends 'base.html' %}

{% block page_title %}Genres{% endblock %} 

{% block page_heading %}Genres{% endblock %} 

{% block content %}
 
<div class="container">
  
  <div class="row justify-content-center">
  

        
        {% for genre in genres %}
        
          <div class="card mb-3 mr-5" >
            <div class="row no-gutters">
              
              <div class="col-md-12">
                <div class="card-body">
                <h4 class="card-title "><a href="{% url 'genres_records' genre.id %}" >{{ genre.name }}</a></h4>
                
                  <p class="card-text">
                   <span class="badge badge-secondary ">{{genre.number}}&nbsp;&nbsp;Records</span>
                </p>
                
                <p class="card-text"></p>
              </div>
              
              </div>
        
            
            </div>
          </div>
        {% endfor %}
        
     
      
  </div>
</div>
{% endblock %}