{% extends 'base.html' %}

{% block page_title %}Records{% endblock %} 

{% block page_heading %}Records{% endblock %} 

{% block content %}

<div class="container">

<div class="row row-cols-1 row-cols-md-3">
  
    
{% for record in records %}
  <div class="col mb-4">
    
        <div class="card h-100">
          <img class="card-img-top mx-auto" src="{{ MEDIA_URL }}{{ record.image }}" alt="Card image cap">
          <div class="card-body ">
            <h5 class="card-title"><a href="{% url 'artists_records' record.artist_id %}">{{ record.artist }}</a></h5>
            <p class="card-text">{{ record.name }}</p>
          
            <small><p class="card-text">
              {% for genre in record.genres.all %}
               <a href="{% url 'genres_records' genre.id %}">  {{ genre }} </a>
              {% endfor %}
            </p></small>
           
            <p class="card-text">€{{ record.price }}</p>
          </div>
          <div class="card-footer">
            <small>
                <form method="post" action="{% url 'add_to_cart' record.id %}">
                  {% csrf_token %}
                      <div class="input-group ">
                           <span><input name="quantity" type="number" min="1" max="999" class="form-control form-control-sm" value="1"></span> 
                          <span class="input-group-btn">
                              <button class="btn btn-success btn-sm" type="submit"><small>Add to Cart</small></button>
                          </span>
                      </div>
                  </form>
            </small>
          </div>
        </div>
    
    </div>
{% endfor %}

</div>
</div>
   
 
</div>
{% endblock %}

