body {
    font-family: Arial;
    padding-top: 0;
    background-color:grey;
}

footer {
    
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}



/**************NAVBAR*/
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
/************** NAVBAR END */







/**************RECORD PANELS*/
.record {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

img.card-img-top{
    width: 100px;
    height: 100px;
}

.input-group .btn.btn-success{
    /*margin-top:2px;*/
}

.record-description {
    /*min-height: 40px;*/
}


.card{

}
.card-deck{
    /*margin-left:50px;*/
    /*background-color: yellow;*/
    
    /*margin-right:1px;*/
  
}
.card-body {
    /*border-color: transparent;*/
    /*padding: 0 10px;*/
    /*height: 100%;*/
    /*border: 1px solid #ddd;*/
}




/**************RECORD END */



.accountform {
    padding-top: 20px;
}


caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

