{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block page_title %}Checkout{% endblock %} 

{% block page_heading %}Checkout{% endblock %} 

{% block content %}


<div class="container">
<div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{ record_count }}&nbspitems</span>
             </h4>
                
                <ul class="list-group mb-3">
                    {% for item in cart_items %}
                     <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">{{ item.record.name }}</h6>
                            <small class="text-muted">{{ item.record.description }}</small>
                          </div>
                            <span class="text-muted">{{ item.quantity }} &nbsp;x&nbsp; €{{ item.record.price }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="col float-right">
                    <span>Total:&nbsp</span>
                  <strong>€{{ total }}</strong>
                </div>
        </div>
        
    <div class="col-md-8 order-md-2">
        <small>
        <form role="form" method="post" class="needs-validation" id="payment-form" action="{% url 'checkout' %}">
            <h4 class="mb-3">Billing address</h4>
            <div class="row">
                <div id="credit-card-errors" style="display: none;">
                    <div id="alert-message block-message error" id="stripe-error-message"></div>
                </div>
      
                <div class="form-group form-group-sm col-md-6">
                    {{ order_form | as_bootstrap }}
                </div>
            
                <div class="form-group col-md-6">
                    {{ payment_form | as_bootstrap }}
                </div>
            
                {% csrf_token %}
                <div class="form-group col-md-12">
                    <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                </div>
                
             </div> 
        </form>
        </small>
     </div>  
</div>
</div>
{% endblock %}
