{% extends 'base.html' %} 

{% block page_title %}{{ user }}'s Profile{% endblock %} 

{% block page_heading %}{{ user|title }}'s Profile{% endblock %} 

{% block content %}
<div class="container">
<div class="row">
        
  <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
             <i class="fas fa-user fa-9x mb-3"></i>
             
            <form method="post" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <h6 class="card-title">Username: <span class="text-muted"><a href="{% url 'edit_profile' %}">{{ user }}</a></span></h6>
                <h6  class="card-text">Email: <span class="text-muted"><a href="{% url 'edit_profile' %}">{{ profile.email }}</a></span></h6>
                <button class="btn btn-secondary mt-1 btn-sm">Edit</button>
            </form>
            
          
             <div class="card-footer">
              <p class="float-right"><a href="{% url 'password_reset' %}">Reset Password</a></p>
           </div>
           
            
          </div>
        </div>
     </div>
    
    
  <div class="col-sm-6">
        <div class="card">
            
          <div class="card-body">
            <h6 class="card-title">My Wishlist <span class="text-muted"> 
              <a  class="float-right" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
                Add a record
              </a>
           </span></h6>
            <div class="collapse" id="collapse">
              <form method="post" action="{% url 'add_wish' %}">
                  {% csrf_token %}
                 <div class="form-group ">
                  <label for="formGroupInput">Artist</label>
                  <input name="artist_name" type="text" class="form-control" 
                  d="formGroupInput"  value="">
                </div>
                <div class="form-group">
                  <label for="formGroupInput2">Track</label>
                  <input name = "record_name" type="text" class="form-control" 
                  id="formGroupInput2" placeholder="">
                </div>
               <button class="btn btn-primary" type="submit" 
               data-toggle="collapse" data-target="#collapse" aria-expanded="false" 
               aria-controls="collapse">Submit</button>
            </form>
            </div>
              
          <div class="card-footer">
            <small>    
            {% if not wishlist %}
              <p class="text-left font-italic text-muted">Add Records to your wishlist and we'll contact you when they are in stock!</p>
            {% endif %}
            
            {% for wish in wishlist %}
            {% csrf_token %}
              <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 name="artist_name" class="my-0"><a href="{% url 'edit_wish' wish.id %}">{{ wish.artist_name}}</a></h6>
                      <small name="record_name" class="text-muted">{{ wish.record_name}}</small>
                    </div>
                    <span class="text-muted">&nbsp;&nbsp;<a href="#" ><i class="fas fa-trash-alt btn" data-toggle="modal" data-target="#mymodal{{wish.id}}"></i> </a></span>
                  </li>
              </ul>
            {% endfor %}
            </small>
        </div>

            
          </div>
        
        </div>
    </div>
    
  <div class="col-sm-6">
          {% for wish in wishlist %}
           <div class="modal fade" id="mymodal{{wish.id}}" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    Do you want to remove <strong>{{ wish.record_name }} </strong> from your wishlist?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <a href = "{% url 'remove_wish' wish.id %}" class="btn btn-danger btn-sm">Delete</a>
                  </div>
                </div>
              </div>
            </div> 
           {% endfor %} 
    </div>
    
        
</div>
</div>

{% endblock %}


