{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block page_title %}{{ user }}'s Cart{% endblock %} 

{% block page_heading %}{{ user }}'s Cart{% endblock %} 

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="card-deck mx-auto ">
            {% for item in cart_items %}
            
            <div class="card mb-3">
                
                <img class="card-img-top mx-auto" src="{{ MEDIA_URL }}{{ item.record.image }}" alt="Card image cap">
        
                <div class="card-body">
                    <h6 class="card-title text-normal ">{{ item.record.name }}</h6>
                    <p class="card-text text-muted"><small>{{ item.record.description }}</small></p>
                    <p class="card-text"><small>€{{ item.record.price }}</small></p>
                 </div>   
                 
                  <div class="card-footer">
                       <small>
                        <form method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                          
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                 <span> <div class="input-group-addon">Qty</div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control form-control-sm" value="{{item.quantity}}">
                                    <!--<div class="input-group-addon">{{item.quantity}}</div>-->
                                </span>
                                </div>
                          
                            <button type="submit" class="btn btn-primary btn-sm">Amend</button>
                        </form>
                        </small>
                    </div>
            </div>
            {% endfor %}
            </div>
    </div>
</div> 
<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <p class="float-right"><a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a></p> 
            <p class="float-right mt-2 mr-1"> €{{ total }}</p> 
            <p class="float-right mt-2">Total:&nbsp;</p> 
         </div>
    </div>
</div>

{% endblock %}