{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'branding/favicon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    
     
    {% block head_js %} {% endblock head_js %}
</head>

<body>
    
 <div class="parallax-window" data-parallax="scroll" 
 data-image-src="https://neils-webshop.s3-eu-west-1.amazonaws.com/media/images/rack02bw.jpg" data-z-index="-1">   
    <header>  
    <div id="back-button" class="float-left mt-3"> 
        <a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-arrow-circle-left fa-2x"></i></a> 
    </div>
    <nav class="navbar navbar-custom sticky-top navbar-expand-lg navbar-light ">
        <button class="navbar-toggler " type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-2" href="{% url 'index' %}">Vinyl Records</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" 
            method="get">
                <input class="form-control mr-sm-2 col-8 mysearchbox" type="search" 
                name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn-sm rounded-0 my-sm-0 col-2" 
                type="submit"><i class="fas fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'artists' %}">Artists</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'records' %}">Records</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Genres
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'genres' %}"><u>
                            <span class="all-genres">All</span></u></a>
                         <div class="dropdown-divider"></div>
                        {% for genre in genres %}
                            <a id="dropdown-item" class="dropdown-item" 
                            href="{% url 'genres_records' genre.id %}">
                                <span id="genre-name">{{ genre.name }}</span></a>
                         {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" 
                    id="navbarDropdown" role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                      <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}  
                      <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                      <a class="dropdown-item" href="{% url 'registration' %}">Register</a>
                     {% endif %} 
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}">
                        <i class="fas fa-shopping-cart "></i> Cart
                    {% if record_count > 0 %}
                        <label class="badge badge-warning">{{ record_count }}</label>
                    {% endif %}
                </a>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="mx-0 my-0 ">
</header>  


    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %} 
                <div class="text-center">
                    {{ message }} 
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <main class="my-4">
        
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <div class="row"> 
                    <h4 class="page-heading text-nowrap text-capitalize bd-highlight 
                    mr-2 mb-0 pl-3 pr-3 px-2 py-2">
                         {% block page_heading %}{% endblock %}
                    </h4> 
                </div> 
            </div>
        </div>
    </div>

    </main>

    {% block content %}
    {% endblock %}
    
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <h6 class="text-center text-dark font-weight-bold">Get Connected!</h6>
                    </div>
                </div>
                
                <p class="text-muted text-center">
                    <a href = "#" ><span class="text-center">
                        <i class="fab fa-twitter-square fa-3x mr-1"></i></span></a>
                    <a href = "#" ><span class="text-nowrap">
                        <i class="fab fa-facebook-square fa-3x mr-1"></i></span></a>
                    <a href = "#" ><span class="text-center">
                        <i class="fab fa-soundcloud fa-3x mr-1"></i></span></a>
                    <a href = "#" ><span class="text-nowrap">
                        <i class="fab fa-spotify fa-3x mr-1"></i></span></a>
                    <a href = "#" ><span class="text-center">
                        <i class="fab fa-youtube-square fa-3x mr-1"></i></span></a>
                    <a href = "#" ><span class="text-nowrap">
                        <i class="fab fa-itunes fa-3x mr-1"></i></span></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="text-muted">
                    <small class="text-left text-nowrap">Vinyl Records © 2019</small></p>
            </div>
            
            <div class="col-md-10">
                <p class="text-muted">
                    <a href = "#" >
                        <small class="text-nowrap float-right ml-3 ">T & C</small></a>
                    <a href = "#" >
                        <small class="text-nowrap float-right">Privacy Policy</small></a>
                </p>
            </div>
        </div>
    
    </div>
</footer>


</body>
</html>
